body{
	margin:0px;
	padding:0px;
	font-size:12px;
	line-height:20px;
	color:#333;
   }
ul,li,ol,h1,dl,dd{
	list-style:none;
	margin:0px;
	padding:0px;
	}
a{
	color:#333333;
    text-decoration: none;
	}    
a:hover{
	color:#333333;
	text-decoration:underline;
	}
img{
	border:0px;
	}
.blue{
	color:#1965b3;
	text-decoration:none;
	}
.blue:hover{
	color:#1965b3;
	text-decoration:underline;
	}
#header,#main,#footer{
	width:960px;
	margin:0px auto 0px auto;
	clear:both;
	float:none;
	}
/*网页版权部分样式开始*/
.footer_top{
	width:800px;
	margin:0px auto 0px auto;
	clear:both;
	text-align:center;
	}
.footer_top{
	color:#9B2B0F;
	}
.footer_dull_red,.footer_dull_red:hover{
	color:#9B2B0F;
	margin:0px 8px 0px 8px;
	}
/*网页版权部分样式结束*/
